body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: beige;
}

#body {
    display: flex;
    overflow: auto;
    margin-left: 250px;
}

#sidebar {
    position: fixed;
    top: 11%;
    left: 75%;
    background-color: darkseagreen;
    padding: 0rem 7rem 1rem 1rem;
    height: fit-content;
    opacity: 0.8;
}

#section {
    width: 60%;
    word-spacing:5px;
    line-height:30px;
    
}

p {
    font-size: large;
}

li {
    margin: 10px 0;
    font-weight: bold;
    font-size: large;
}

hr {
    height: 2px;
    width: 50%;
    border-width: 0;
    background-color: rgb(188, 157, 143);
    text-align: left;
    margin-left: 0;
}

.keyword {
    font-weight: bold;
    ;
}

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: inherit;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}


