body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#body {
    display: flex;
    overflow: auto;
    margin-left: 60px;
}

#sidebar {
    position: fixed;
    top: 11%;
    left: 75%;
    background-color: darkseagreen;
    padding: 0rem 7rem 1rem 1rem;
    height: fit-content;
    opacity: 0.8;
}

#section {
    width: 65%;
}

p {
    font-size: large;
}

li {
    margin: 10px 0;
    font-weight: bold;
    font-size: large;
}

hr {
    height: 2px;
    width: 50%;
    border-width: 0;
    background-color: rgb(188, 157, 143);
    text-align: left;
    margin-left: 0;
}

.keyword {
    font-weight: bold;
    ;
}

code {
    padding: 0 5px 2px;
    font-size: .8em;
    font-weight: 600;
    background-color: rgb(196, 194, 194);
    font-family: 'Roboto Mono', monospace;
}

.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: inherit;
}

.button-85:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

input {
    font-family: inherit;
    line-height: inherit;
    color: #2e3750;
    min-width: 20em;
}

.input {
    position: relative;
    background: linear-gradient(21deg, #10abff, #1beabd);
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;
    margin-left: 20px;
}

.input :not(span) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 1px;
    border: none;
    outline: none;
    padding: 7px 1em;
    z-index: 1;
}

.input :not(span):focus+span {
    opacity: 1;
    transform: scale(1);
}

.input span {
    transform: scale(0.993, 0.94);
    transition: transform 0.5s, opacity 0.25s;
    opacity: 0;
    position: absolute;
    z-index: 0;
    margin: 4px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #1beabd, -3px 3px 30px #10abff;
}


th {
    font-size: 18px;
    padding: 14px 10px;

}

td {
    padding: 14px 10px;
    font-size: 12.5pt;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    vertical-align: middle;
}

p {
    text-align: justify
}

thead {
    background-color: #333;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: rgb(245, 245, 182);
}

tbody th {
    background-color: #7a7a79;
    color: #fff;
    text-align: left;
}

tbody tr:nth-child(even) th {
    background-color: #6b6b6a;
}

.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: inherit;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin: 25px 0 25px 0;
    font-size: 16px;
}

.button-64:active,
.button-64:hover {
    outline: 0;
}

.button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.button-64:hover span {
    background: none;
}